
.font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body{
    margin:0;
}


.navbar{

    background-color: #1A0B2E;
    color: #FFFFFF;
    width: 1600px;
    height: 92px;
    display: flex;

}

.navbar .nav-logo{

    padding-left: 200px;
    padding-top: 30px;
    padding-bottom: 30px;

}

header .navbar  .nav-element{
  
    display: flex;
    
}
header .navbar  .nav-element  #nav-about{

    margin-left: 314px;
    margin-top: 36.5px;

}
header .navbar  .nav-element  #nav-epi{
    margin-left: 32px;
    margin-top: 36.5px;
}
header .navbar  .nav-element  #nav-host{
    margin-left: 32px;
    margin-top: 36.5px;
}

header .navbar .nav-btn p{
margin-left: 314px ;
margin-top: 24px;
 background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));

    padding-left: 16px;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-right: 16px;
    border-radius: 20px;

}

.banner .banner-container .banner-bg{
    position: relative;
}

.banner .banner-container .hero-box{
    position: absolute;
    height: 558px;
    width: 550px;

    margin-top: -650px;
    margin-left: 525px;

}

.banner .banner-container .hero-box .hero-circle{

    padding-left: 100px;
    padding-right: 100px;

    position: relative;
}

.banner .banner-container .hero-box  .hero-new{
    position: absolute;

    width: 75px;
    background-color: #00FF88;

    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom:2px;

    border-radius: 95px;
    text-align: center;

    margin-left: 380px;
    margin-top: -340px;
    margin-right: 39px;
    margin-bottom: 308px;

}

.banner .banner-container .hero-box .hero-mic{

    position: absolute;
    margin-left: 218px;
    margin-top: -280px;
}

.banner .banner-container .hero-box .hero-logo{
    color:#FFFFFF;
    margin-left: 130px ;
    font-size:30px;
    font-weight: 800px;
    margin-top: -30px;
}
.banner .banner-container .hero-box .hero-p{

    color: #FFFFFF;
    text-align: center;
    margin-top: -10px;

}
.banner .banner-container .hero-box .nav-btn{
margin-left: 35px ;
margin-top: 24px;
width: 201px;
text-align: center;
 background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
color: #FFFFFF;
    padding-left: 16px;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-right: 16px;
    border-radius: 70px;

    font-size:16px;

}

.banner .banner-container .hero-box .nav-btn img{

    margin-right: 10px;
}

.hero-btns{

    display: flex;
}
.banner .banner-container .hero-box .hero-btn{
margin-left: 15px ;
margin-top: 24px;
width: 201px;
text-align: center;
border: 1px solid #00FF88;
color: #FFFFFF;
    padding-left: 16px;
    padding-top: 12px;
    padding-right: 16px;
    border-radius: 70px;

    font-size:16px;

}

.about{
    
    width: 1600px;
    height: 646px;
    background-color: #1A0B2E;
    margin-top: -4px;
    padding-top: 0;
}
.about h1{

    margin-top: 0;
    padding-top: 0;
}


.about-container{
    text-align: center;
}
.about .about-container .about-head{
color: #FFFFFF;
padding-top: 50px;
font-size: 30px;
font-weight: 700;
}
.about .about-container .about-p{
color: #FFFFFF;
    margin-top: 74px;
    margin-left: 400px;
    margin-right: 400px;
    text-align: center;
}



.about-digit{

    display: flex;
    margin-top: 150px;
}

.about-digit h1{

    color: #00FF88;
    margin-left: 250px;
}

.about-digit p{

    color: #FFFFFF;
    gap: 20px;
    padding-left: 200px;
}

.why{

    background-color: #230E3D;
    width: 1600px;
    height: 1121px;

}

.why .why-container .why-head h1{

    margin-top: 0;
    padding: 100px;
    color: #FFFFFF;
    font-size: 60px;
   font-weight: 700;

   text-align: center;

}

.why-card .card-1 , .card-2, .card-3 , .card-4, .card-5{

      background-color: #35116566;
     color: #FFFFFF;
     border-radius: 25px ;
}

.why-card{
    margin-left: 200px;
    margin-right: 200px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);


}

.why-card .card-1{
    grid-row: span 2;
    grid-column: span 1;
}

.why-card .card-1 img{

    padding-left: 40px;
    padding-top: 107px;
}
.why-card .card-1 h3{

    padding-left: 40px;
    padding-top: 16px;
}

.why-card .card-1 p{

    padding-left: 40px;
    padding-right: 40px;
    padding-top: 16px;
}
.why-card .card-2{
    grid-row: span 1;
    grid-column: span 2;
}

.why-card .card-2 img{

    padding-left: 40px;
    padding-top: 40px;
}
.why-card .card-2 h3{

    padding-left: 40px;
}

.why-card .card-2 p{

    padding-left: 40px;
    padding-right: 40px;
}


.why-card .card-3{
    grid-row: span 1;
    grid-column: span 2;
}

.why-card .card-3 img{

    padding-left: 40px;
    padding-top: 40px;
}
.why-card .card-3 h3{

    padding-left: 40px;
}

.why-card .card-3 p{

    padding-left: 40px;
    padding-right: 40px;
}


.why-card .card-4{
    grid-row: span 1;
    grid-column: span 2;
}

.why-card .card-4 img{

    padding-left: 40px;
    padding-top: 40px;
}
.why-card .card-4 h3{

    padding-left: 40px;
}

.why-card .card-4 p{

    padding-left: 40px;
    padding-right: 40px;
}
.why-card .card-5{
    grid-row: span 1;
    grid-column: span 1;
}

.why-card .card-5 img{

    padding-left: 40px;
    padding-top: 40px;
}
.why-card .card-5 h3{

    padding-left: 40px;
}

.why-card .card-5 p{

    padding-left: 40px;
    padding-right: 40px;
}

