
.font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body{
    margin:0;
}


.navbar{

    background-color: #1A0B2E;
    color: #FFFFFF;
    width: 1600px;
    height: 92px;
    display: flex;

}

.navbar .nav-logo{

    padding-left: 200px;
    padding-top: 30px;
    padding-bottom: 30px;

}

header .navbar  .nav-element{
  
    display: flex;
    
}
header .navbar  .nav-element  #nav-about{

    margin-left: 314px;
    margin-top: 36.5px;

}
header .navbar  .nav-element  #nav-epi{
    margin-left: 32px;
    margin-top: 36.5px;
}
header .navbar  .nav-element  #nav-host{
    margin-left: 32px;
    margin-top: 36.5px;
}

header .navbar .nav-btn p{
margin-left: 314px ;
margin-top: 24px;
 background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));

    padding-left: 16px;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-right: 16px;
    border-radius: 20px;

}

